/* fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')

.work-sans{
  font-family: "Work Sans", sans-serif;
}

#primary_color{
    color: #FF5400;
}

.title img{
    width: 5%;
}
.title{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > ul{
    list-style: none;
    display: flex;
}

.menu > ul > li{
    margin-right: 44px;
}
.menu > ul > li:hover{
    background-color: #FF5400;
    border-width: 70px;
}

.banner{
    margin-top: 10px;
    height: 500px;
    background-image: url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
    width: auto;
    background-position-x: center;
    margin-bottom: 0px;
}
.banner > h1{
    font-size: 40px;
}
.banner > p{
    font-size: 16px;
}

.banner-form > input:focus{
    background-color: #FF5400;
    color: #ffffff;
}
.banner-form > button:focus{
    background-color: #FF5400;
    color: #ffffff;
}

.banner-form > input, button{
    height: 30px;
    border-radius: 40px;
    text-align: center;
}
.popular{
    display: flex;
    height: 550px;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 100px;
}
button{
    background-color: #FF5400;
    color: #ffffff;
    padding: 10px;
    height: 40px;
}
.destinations{
    margin-top: 20px;
}
.destination-text{
    text-align: center;
    size: 20px;
}
.first-column{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.second-column{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
}

















footer{
    height: 600px;
}